@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Kalam', cursive;
}
body{
	height:100vh;
	background-image: url(./resources/images/Appunti_background.png);
	overflow: hidden;
}
.container{
	height:100vh;
	display:flex;
	flex-direction: column;
	align-items: center;
}
h1{
	margin: 30px;
}
.noteSection{
	display:grid;
	grid-template-columns: repeat(4,1fr);
	justify-items: center;
	grid-column-gap: 50px;
}
.noteColumn{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
}
.yourNotes{
	grid-column: 2/3;
}
.addNotes{
	grid-column: 3/4;
}
h2{
	text-decoration: underline;
}
#yourNotes{
	overflow:auto;    
	margin-left: 15px;
	margin-right: -2000px;
	padding-right: 2000px;
	height: 600px;
}
card{
	display: grid;
	grid-template-rows: 30px 60px 30px;
	border: 3px solid #000000;
	box-sizing: border-box;
	box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	width:250px;
	padding: 10px;
	margin: 25px;
}
.noteTitle{
	text-align: center;
}
button{
	border:none;
	background-color: transparent;
	margin-left: 190px;
	cursor: pointer;
}
#titleInput{
  background-color: transparent;
	border: none;
	max-height: 30px;
	border-radius: 1%;
  cursor: pointer;
	text-align: center;
  font-size: 1.17em;
  font-weight: bold;
	overflow: hidden;
}
textarea{
	background-color: transparent;
	width: 100%;
	border:none;
	height:60px;
	padding: 5px;
  cursor: pointer;
	resize: none;
}


@media only screen and (max-width: 630px) {
  body{
		overflow:scroll;
		margin-right: -2000px;
		padding-right: 2000px;
	}
	.noteSection{
		display:flex;
		flex-direction: column-reverse;
		align-items: center;
		grid-column-gap: 0px;
	}
}


